.header {
    background-color: #F03D3E;
    color: #ffffff;
    text-align: center;
}
.nav {
    background-color: #f3c40b;
    color: #ffffff;
    padding: 10px;
}
h1,h2,ol,ul {
    margin: unset;
}
.main {
    background-color: #13a118;
    color: #ffffff;
    padding: 10px;
}
.footer {
    background-color: #7048E8;
    color: #ffffff;
    text-align: center;
}
article {
    background-color: blue;
    margin-bottom: 5px;
    padding: 10px;
}
.article-title {
    margin-bottom: 10px;
}
a {
    color: #ffffff;
}
